// BANNER
.banner {

    .banner__container {
        position: relative;
        
        .banner__image {

            img {
                height: 100%;
                width: 100%;
            }

            &::after {
                content: '';
                background: #000000;
                opacity: .5;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 99.5%;
            }
        }

        .banner__content {
            position: absolute;
            top: 50%;
            left: 20%;
            transform: translate(-20%, -50%);
            display: flex;
            flex-direction: column;
            gap: 26px;

            h3 {
                max-width: 445px;
                color: white;
            }

            a {
                width: fit-content;
            }
        }
    }
}


// BANNER
@media only screen and (max-width: 768px) {
    .banner {
        
        .banner__container {

            .banner__image {

            }

            .banner__content {
                right: 32px;
                transform: translateX(-32px);

                h3 {
                    font-size: 40px;
                    line-height: 48px;
                    letter-spacing: -1.42857px;
                }
            }
        }
    }
}