// BANNER
.banner {
    padding-top: 100px;
    padding-bottom: 200px;

    .banner__container {
        width: 100%;
        padding: 168px 0;
        position: relative;
        background-position: center;
        background-size: cover;

        .banner__content {
            max-width: 445px;
            padding-left: 190px;

            h3 {
                color: white;
            }
            
            .button {
                margin-top: 26px;
                width: max-content;
            }
        }

    }
}

@media only screen and (max-width: 768px) {
    .banner {
        padding-top: 97px;
        padding-bottom: 72px;
        
        .banner__container {

            .banner__content {
                padding: 180px 32px;

            }
        }
    }
}