.contact-form {
    padding-left: 32px;
    padding-right: 32px;

    .contact-form__container {
        display: flex;
        justify-content: space-between;

        .contact__title {

        }

        .form {
            overflow: hidden;

            input {
                max-width: 580px;
                width: 100%;
                border: none;
                border-bottom: 1px solid #1B1D23;
                padding: 25px 35px;
                outline: none;
            }

            input + input {
                margin-top: 10px;
            }

            .form-button {
                width: 100%;

                .button {
                    float: right;
                }
            }
        }
    }
}



@media only screen and (max-width: 768px) {
    .contact-form {
    
        .contact-form__container {
            flex-direction: column;

            .form {
                margin-top: 30px;
                margin-bottom: 50px;
            }
        }
    }
}