.portfolio-page {
    margin-top: 150px;

    .featured__items {
        flex-wrap: wrap;

        & .number {
            visibility: hidden;
        }
    }
}

@media only screen and (max-width: 768px) {
    .portfolio-page {
        margin-top: 110px;
    }
}