/**
 * GLOBALS
 */

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
}

// HEADINGS
h1 {
    font-family: "League Spartan", Arial, sans-serif;
    font-weight: 700;
    font-size: 200px;
    line-height: 200px;
    letter-spacing: -5px;
    color: #EEEFF4;
}

h2 {
    font-family: "League Spartan", Arial, sans-serif;
    font-weight: 700;
    font-size: 80px;
    line-height: 80px;
    letter-spacing: -2px;
    color: #1B1D23;
}

h3 {
    font-family: "League Spartan", Arial, sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2px;
    color: #1B1D23;
}

h4 {
    font-family: "League Spartan", Arial, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #1B1D23;
}

p {
    font-family: "League Spartan", Arial, sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #60636D;
}

a {
    font-size: 15px;
    font-family: "League Spartan", Arial, sans-serif;
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style: none;
}

.button {
    background: #1B1D23;
    padding: 24px 32px;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;

    p {
        color: white;
        margin: 0;
        line-height: 0;
    }
}

.button:hover {
    background-color: #60636D;
    transition: .3s;
}



// HEADER
.header {

    .header__container {
        max-width: 1110px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        padding: 56px 0;

        .header__logo {
            margin-right: 95px;
        }

        .header__navlinks {
            .navlinks__items {
                display: flex;
                flex-direction: row;
                padding: 0;
                gap: 56px;

                .navlinks__item {
                    list-style: none;
                    color: #7D828F;
                    
                    a {
                        font-weight: 700;
                    }
                }
            }
        }

        .mobile__header-navlinks {
            display: none;
        }

        .header__button {
            .header__open-menu {
                display: none;
            }

            .header__close-menu {
                display: none;
            }
        }
    }
}


@media only screen and (max-width: 768px) {
    .header {
        .header__container {
            max-width: 311px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            padding: 32px 0;
            justify-content: space-between;
            position: relative;
    
            .header__logo {
                margin-right: 0;
            }
    
            .header__navlinks {
                display: none;
            }

            .header__button {
                .header__open-menu {
                    display: block;
                }

                .header__close-menu {
                    display: none;
                }
            }

            .mobile__header-navlinks {
                display: block;
                max-width: 310px;

                .header-navlinks__wrapper {
                    position: absolute;
                    width: 100%;
                    top: 96px;
                    right: 0;

                    .navlinks__items {
                        background-color: #EEEFF4;
                        padding: 48px;
                        display: flex;
                        flex-direction: column;
                        gap: 32px;

                        a {
                            font-size: 18px;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}






// FOOTER
.footer {
    margin-top: 100px;

    .footer__container-desktop {
        max-width: 1110px;
        margin: 0 auto;
        position: relative;

        .footer-links {
            background-color:  #EEEFF4;
            max-width: 984px;
            height: 200px;
            display: flex;
            align-items: center;

            .footer__logo {
                background-color: #1B1D23;
                width: 200px;
                text-align: center;
                height: 100%;
    
                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                }
            }
    
            .footer__navlinks {
                .navlinks__items {
                    display: flex;
                    flex-direction: row;
                    gap: 56px;
                    margin-left: 85px;
    
                    .navlinks__item {
                        list-style: none;
                        color: #7D828F;
                        
                        a {
                            font-weight: 700;
                        }
                    }
                }
            }
        }

        .footer__cta {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .footer__container-mobile {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .footer {
        margin-top: 100px;

        .footer__container-desktop {
            display: none;
        }
    
        .footer__container-mobile {
            display: block;
            width: 100%;
            position: relative;

            .footer__logo {
                width: 120px;
                height: 120px;
                background-color: #1B1D23;
                position: absolute;
                top: -15%;
                left: 50%;
                transform: translateX(-50%);

                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                }
            }

            .footer-links {
                background-color:  #EEEFF4;
                display: flex;
                align-items: center;
                flex-direction: column;
                padding-bottom: 48px;
                padding-top: 100px;

                .navlinks__items {
                    display: flex;
                    flex-direction: column;
                    gap: 32px;

                    a {
                        font-weight: 700;
                        color: #7D828F;
                    }
                }
            }
        }
    }
}